<log4net>
  <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
    <appendToFile value="true" />
    <file value="logfile.txt" />
    <rollingStyle value="Date" />
    <maximumfilesize value="100KB" />
    <datePattern value="yyyyMMdd-HHmm" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %-5level %logger.%method [%line] - MESSAGE: %message%newline" />
    </layout>
  </appender>
  <root>
    <appender-ref ref="RollingFile" />
    <level value="ALL" />
  </root>
</log4net>